<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843402398492-oge5i1n001qmkakftn5hfcmshkfed120.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843402398492-oge5i1n001qmkakftn5hfcmshkfed120</string>
	<key>API_KEY</key>
	<string>AIzaSyA_zBBeMDjtCwbHy3Gb_MYzR-7wVw9Vdj4</string>
	<key>GCM_SENDER_ID</key>
	<string>843402398492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tesi.locationbased.ar</string>
	<key>PROJECT_ID</key>
	<string>tesi-ar-location-based</string>
	<key>STORAGE_BUCKET</key>
	<string>tesi-ar-location-based.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843402398492:ios:09227b83163667b51b88d9</string>
	<key>DATABASE_URL</key>
	<string>https://tesi-ar-location-based-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>